.pagecomp{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 35px;
}

html,.animated-area{
    background: linear-gradient(45deg, #EE7752, #E73C7E, #2EA6D5, #23D5AB);;
    width: 100%;
    height: 100vh;
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out alternate infinite;
   
    
}

@keyframes change {
    0% {
        background-position: 0 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0 50%; 
    } 
    
}

img {
    margin: 60px 0 30px 0;
    width: 200px;
}